* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.container {
  width: 75%;
  margin: 0 auto;
}


.row::after {
  content: ="";
  display: table;
  clear: both;
}

/* Header */

.logo {
  width: 12%;
}

nav span {
  color: grey;
  padding-left: 10px;
}

.head {
  height: 100px;
}

#yoga-text{
  color: black;
  padding-left: 10px;
  margin-top: 10px;
}
/* Inizio colonne */

[class^="col-"] {
  float: left;
}

.col-100 {
  width: 100%;
  margin-bottom: 10px;
}

.col-20 {
  width: 20%;
}

.col-60 {
  width: 60%;
  padding-bottom: 10px;
}

/* Main parte centrale */


.bg-yoga {
  background: url("../img/banner.jpg");
  background-color: grey;
  background-position: center;
  opacity: 0.5;
  border-radius: 20px;
  height: 500px;
  margin-top: 30px;
}

.text {
  margin-top: 10px;
}

.grey {
  color: grey;
}

.bg-one {
  background: url("../img/img-1.jpg");
  background-position: center;
  width: 100%;
  height: 200px;
  opacity: 0.5;
  border-radius: 2%;
  border: 1px solid black;
}

.bg-two {
  background: url("../img/banner-2.jpg");
  background-position: center;
  width:  90%;
  margin-left: 5%;
  margin-right: 5%;
  height: 200px;
  border-radius: 2%;
  border: 1px solid black;
}

.bg-three {
  background: url("../img/img-3.jpg");
  background-position: center;
  width: 100%;
  height: 200px;
  opacity: 0.5;
  border-radius: 2%;
  border: 1px solid black;
}

.mt {
  margin-top: 20px;
}
.bg-purple {
  background: #8801fe;
  height: 70px;
  margin-top: 10px;
}
